<style>
    * {
      margin: 0px;
      padding: 0px;

    }

    #containerfooter {
      display: none;
    }

    footer {
      width: 100%;
      margin: 0px;
      padding-bottom: 20px;
      background: #04091a;
      color: #f9f9f9;
    }

    footer article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      background: linear-gradient(90deg, #773ecb, #2663ff);
    }

    footer article h2 {
      font-weight: 400;
      color: rgb(255 255 255 / 70%);
    }

    footer article button {
      width: auto;
      display: flex;
      align-items: center;
      margin-bottom: 5%;
      justify-content: space-between;
      gap: 10px;
      padding: 0 40px 0 44px;
      background: #0a1536;
      border: 0;
      border-radius: 30px;
      color: #f9f9f9;
      font-family: inherit;
      font-size: 16px;
    }

    footer section {
      padding: 0 25px;
    }

    section.top {
      padding-top: 30px;
      margin-bottom: 48px;
    }

    section.top img {
      display: block;
      height: 30px;
      margin: 10px;
    }

    section.top ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: auto;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }


    #signtext {
      color: white;
    }

    @media (width > 480px) {
      footer article button {
        width: auto;
        margin-bottom: 0%;
      }


    }

    a {
      text-align: justify;
      font-size: 16px;
    }

    @media (width > 680px) {

      footer article {
        flex-direction: row;
        min-height: 140px;
        margin: -70px 20px 20px;
        padding: 30px 50px 30px;
      }

      footer article button {
        width: auto;
        padding: 0 10px 0 10px;
      }

      section.top ul {
        grid-template-columns: repeat(3, 1fr);
        padding-right: 0;
        width: 100%;
      }
    }

    section.top ul li a {
      display: block;
      margin-bottom: 10px;
      color: rgb(255 255 255 / 90%);
      cursor: pointer;
      text-align: center;
    }

    section.top ul li a:hover {
      color: rgba(175, 175, 175, 0.9);
      cursor: pointer;
    }

    section.top h3 {
      color: rgb(255 255 255 / 40%);
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
    }

    section.bottom {
      padding-top: 10px;
      border-top: 2px solid rgb(255 255 255 / 10%);
      color: rgb(255 255 255 / 40%);
      font-size: 13px;
    }

    bottom:hover {
      background-color: rgb(10, 10, 95);
    }



    /* Input Field Styling */
    section form input {
      padding: 12px;
      width: 90%;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      outline: none;
      background-color: #f9f9f9;
      color: #ff0000;
    }

    section form input:hover {
      background-color: #f9f9f9;
      color: #ff0000;
    }

    /* Subscribe Button */
    section form button {
      width: 95%;
      padding: 12px 20px;
      background-color: #031963;
      color: white;
      margin-top: 1%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 16px;
      font-weight: bold;
    }

    /* Button Hover Effect */
    form button:hover {
      background-color: #ff6a20;
    }


    @media screen and (max-width:768px) {
      section.top ul {
        grid-template-columns: repeat(3, 1fr);
        padding-right: 0;
        width: 100%;
        display: block;
      }

      footer section {
        padding: 0 10px;
      }

      footer section li a {
        font-size: 16px;
      }

      #containerfooter {
        display: none;
      }
    }
  </style>
  <style>
    /* Footer Styling */
    #containerfooter {
      display: none;
      z-index: 999;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      color: #0a2d55;
      background-color: white;
      padding: 2px;
      position: fixed;
      bottom: 0;
      left: 0;
      height: 55px;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    }

    #containerfooter a {
      width: 22%;
      color: #0a2d55;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 1px 0px;

      font-size: 30px;
      padding: 0px 5px;
    }

    #containerfooter i {
      font-size: 25px;
      margin: auto;
    }

    #containerfooter i:hover {
      font-size: 27px;
      margin: auto;
    }

    /* Responsive Design for Mobile */
    @media (min-width: 768px) {
      #containerfooter {
        display: none;
      }
    }
  </style>
