/* CSS for search input and suggestions */

/* Suggestions Container */
.suggestions-container {
  width: 95%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: auto;
  max-height:300px;
  display: none;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox: hide scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer and Edge: hide scrollbar */
}

/* Individual Suggestion Item */
.suggestion-item {
  position: relative;
  width: 95%;
  margin: 5px auto;
  padding: 5px ;
  background-color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.05);
 
}

/* Remove bottom border for the last suggestion item */
.suggestion-item:last-child {
  border-bottom: 0;
}

/* Hover effect for suggestion items */
.suggestion-item:hover {
  background-color: rgb(235, 235, 235);
}

/* Responsive Design */
@media (max-width: 768px) {
  .suggestion-item {
    width: 91%;
  }
}

/* Second Input Suggestion Styles */
/* .suggestions-container1 {
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 100px;
  display: none;
}

.suggestions-container1 .suggestion-item {
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
  border: 1px solid #ccc;
} */
